
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* declarando as variaveis cores e fontes */
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-pricipal: 'Inter';
}

/* montando o body do projeto */
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-pricipal);
    font-size: 16px;
    font-weight: 400;
}

/* configurando as margens padding e margin  */
*{
    margin: 0%;
    padding: 0%;
}
/* inseriu uma imagem pelo css(imagens q n tem muita relevancia), informou que n
que q a imagem se repita, informou que essa class é contain */
.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat ;
    background-size: contain;
    align-items: center;
    text-align: center;
}

/* define a altura da class conteiner q será 100% */
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

/* estilizando o botao principa*/
.container__botao {
  background-color: var(--botao-azul);
  border-radius: 5px;
  padding: 1em;
  color: var(--branco-principal);
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
  
}

/* estilizando o botao secundário */
.botao__secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

/* deixa espaçamentos na parte superior e inferior da imagem e as laterias não mudam 
pq colocou zero modelo de valores como um relogio no sentido horario comecando de cima, direita,
em baixo e esqueda,
*/
.container__imagem {
    margin: 1em 0 2em 0;
}

/* deixa espaçamentos na parte superior e inferior do texto, serando a margem superior */
.container__caixa{
    margin: 0 6em;
}

/* estamos determinando o tamanho da segunda imagem */
.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

/* transforma o elemento em linha */
.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

/* coloca os itens da lista em linha
centraliza no meio da página essa lista
list-style-type:none tira os ponts da lista */
.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 32px;
    color: var(--branco-principal);
}



.rodape {
    text-align: center;
    margin: 5em 3em;
}


.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}



